---
title:  Gists
show_gists: true
permalink: list/gists.html
---

<div id="currentTag" style="display:none">
  <!-- <span> Tags : </span> -->
  <span class="border-btm p-2 bg-light text-secondary" id="activeTag"></span>
</div>

{% assign sorted = site.gists | reverse %}
{% for gist in sorted %}
  {% include components/gist-card.html %}
{% endfor %}

<script type="text/javascript">

  var parseHash = function() {
    if (document.location.hash.length > 0) {
      var tag = document.location.hash.slice(1)
      var name = $(".tag-" + tag).first().text()
      showPortfolioByTag(tag, name)
    }
    else {
      clearTags()
    }
  }

  $(document).ready(function(){
    var content = $("#currentTag").html();
    $("#currentTag").remove();
    $("#subheader").html(content);

    var currentTag = null;

    $('a.tag').click(function(evt) {
      var tag = $(evt.currentTarget).data('tag');
      if (tag == currentTag) {
        currentTag = null;
        clearTags();
        return false;
      }
      else {
        currentTag = tag;
        return true;
      }
    });

    parseHash();
  });

  $(window).on('hashchange', parseHash)

  var showPortfolioByTag = function(tag, name) {
    $("#subheader").show()
    $("#filterUnset").hide();
    $("#filterSet").show();

    $(".card-gist").hide()
    $(".tag").removeClass("bg-success")
                .addClass("bg-white")
                .removeClass("text-white")
    $(".card-gist").each(function(idx, card) {
      var matches = $(card).find(".tag-" + tag)
      if (matches.length > 0) $(card).show()
    })
    $(".tag-" + tag).removeClass("bg-white")
                        .addClass("bg-success")
                        .addClass("text-white")
                        .blur()
    $("#activeTag").html(name)
  }

    var clearTags = function() {
    $("#subheader").hide()
    $("#filterUnset").show();
    $("#filterSet").hide();
      $("#currently-showing").hide()
      $(".card-gist").show()
      $(".tag").removeClass("bg-success")
                  .addClass("bg-white")
                  .removeClass("text-white")
      document.location.hash = ""
    }

</script>


