{% include utilities/group-by-array.html collection=site.work field="skills" %}

<div class="sticky-top space-before">
  <div class="card bg-light">
    <div class="card-body p-2">
      <div class="card-title">
        <h5>
          <div class="mt-1 pl-3 pr-3" id="filterUnset">
            Technology
          </div>
          <div id="filterSet" style="display:none">
            <a class="d-inline-block bg-white border rounded p-1 pl-3 pr-3 text-default" href="#">
              Reset Filter
            </a>
          </div>
        </h5>
        <hr/>
      </div>
      {% for skill in group_names %}
        <div class="clearfix">
          <a class="d-inline-block bg-white border rounded p-1 pl-2 pr-2 mb-1 skill skill-{{ skill | slugify }}"
              href="#{{ skill | slugify }}"
              data-skill="{{ skill | slugify }}">
            {{skill}}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>