{% include utilities/group-by-array.html collection=site.gists field="tags" %}

<div class="sticky-top space-before">
  <div class="card bg-light">
    <div class="card-body p-2">
      <div class="card-title">
        <h5>
          <div class="mt-1 pl-3 pr-3" id="filterUnset">
            Filter by:
          </div>
          <div id="filterSet" style="display:none">
            <a class="d-inline-block bg-white border rounded p-1 pl-3 pr-3 text-default" href="#">
              Reset Filter
            </a>
          </div>
        </h5>
        <hr/>
      </div>
      {% for tag in group_names %}
        <div class="clearfix">
          <a class="d-inline-block bg-white border rounded p-1 pl-2 pr-2 mb-1 tag tag-{{ tag | slugify }}"
              href="#{{tag | slugify}}"
              data-tag="{{tag | slugify}}">
            {{ tag }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>