<div class="sticky-top space-before">
  <div class="card bg-light">
    <div class="card-body p-2">
      {% for tag in page.tags %}
        <div class="clearfix">
          <a class="bg-white border p-1 pl-2 pr-2 mb-1 tag"
              href="{{ site.baseurl }}{% link list/gists.html %}#{{ tag | slugify }}"
              data-tag="{{ tag | slugify }}">
            {{ tag }}
          </a>
        </div>
      {% endfor %}
      <div class="d-flex align-items-center mt-2">
        <span class="icon grey mr-1">
          {% include entypo/arrow-left.svg %}
        </span>
        <a href="{{ site.baseurl }}{% link list/gists.html %}">All gists</a>
      </div>
    </div>
  </div>
</div>
