<div class="card card-post w-100 border-top-0 border-left-0 border-right-0 rounded-0 mb-4">
  <div class="card-body px-0 pt-0">
    <div class="float-left">
      <h4 class="card-title">
        <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
      </h4>
    </div>
    <div class="float-right">
      <h6 class="card-subtitle mt-1 text-secondary">
        {{ post.date | date_to_string }}
      </h6>
    </div>
    <div class="clearfix"></div>

    <div class="card-text d-flex align-items-center mb-2">
      <div>
        {% for tag in post.tags %}
          <a class="d-inline-block bg-white border rounded p-1 pl-2 pr-2 mr-1 mb-1 tag tag-{{ tag | slugify }}"
            href="{{ site.baseurl }}{% link list/posts.html %}#{{tag | slugify}}"
            data-tag="{{tag | slugify}}">
            {{ tag }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="card-text mb-0">
        {{ post.excerpt }}
    </div>
    <a href="{{ post.url | absolute_url }}" class="more">More...</a>
  </div>
</div>