<div class="sticky-top space-before">
  <div class="card bg-light">
    <div class="card-body p-2">
      <div class="card-title">
        <div class="mt-1 pl-3 pr-3">
          <h5>
            {{ page.duration }}
          </h5>
        </div>
        <hr/>
      </div>
      {% for skill in page.skills %}
        <div class="clearfix">
          <a class="d-block bg-white border rounded p-1 pl-2 pr-2 mb-1 skill"
              href="{{ site.baseurl }}{% link list/projects.html %}#{{ skill | slugify }}"
              data-skill="{{ skill | slugify }}">
            {{ skill }}
          </a>
        </div>
      {% endfor %}
      <div class="d-flex align-items-center mt-2">
        <span class="icon grey mr-1">
          {% include entypo/arrow-left.svg %}
        </span>
        <a href="{{ site.baseurl }}{% link list/projects.html %}">All Projects</a>
      </div>
    </div>
  </div>
</div>